footer.main-footer
    div.container
        div.row
            div(class="col py-4 text-center")
                p(class="copyright") HTML Dev App Copyright <i class="fas fa-copyright mx-1"></i> 2018
