@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "utilities";
@import "typography";

html {
    font-size: 18px;
}

body {
    @include typeMain();
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 300;
    font-size: .9rem;
    color: rgba(white,.95);
}

footer.main-footer {
    font-size: .85rem;
    font-weight: 300;
}
