mixin postCard(post)
    div.card
        if post.image
            img(class="card-img-top img-responsive" src=post.image)
        div.card-body
            h5.card-title #{post.title}
            p.card-text #{post.excerpt}
            a(class="btn btn-primary btn-sm" href="#") Read <i class="fas fa-chevron-right"></i>
