extends layouts/base.layout.pug

block main
    main
        section(class="container" id="webHeader")
            div.row
                div(class="col px-md-5 py-5 text-center")
                    h1 <strong>Hello</strong>, Welcome to the website.
                    p(class="lead") This website is created with Pug.js and Twitter Bootstrap through HTML Dev App.
                    a(href="#" class="btn btn-primary mt-3") Documentation <i class="fas fa-info-circle ml-1"></i>
        section(class="container maxed-width" id="postSummaries")
            div.row
                div(class="col mt-5 py-4")
                    - let posts = require('../data/post-summaries.js')
                    div(class="card-columns")
                        each post in posts
                            +postCard(post)

