header
    nav(id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-dark main-navbar py-1")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item")
                a(href="/" class="nav-link text-uppercase") Home
            li(class="nav-item")
                a(href="#" class="nav-link text-uppercase") Tutorials
            li(class="nav-item")
                a(href="#" class="nav-link text-uppercase") Projects
            li(class="nav-item")
                a(href="#" class="nav-link text-uppercase") Apps
            li(class="nav-item")
                a(href="#" class="nav-link text-uppercase") Download
