include ../mixins/post-card.pug
doctype html
html(lang="id-ID")
    head
        title HTML Dev App v-1.0.0
        meta(name="description" content="Development environment and tools to develop HTML Pages using Pug and Twitter Bootstrap")
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="/css/extra.css")
    body
        include ../partials/navs/navbar-top.pug
        block main
        include ../partials/apps/footer.pug
        script(src="/scripts/app.js")
        script(src="/scripts/extra.js")

